.newsletter__container {
  border: 1px solid var(--color-gold);
  text-align: center;
  padding: 2rem;
}
.newsletter__title {
  color: var(--color-gold);
  font-size: 4em;
  letter-spacing: 0.2rem;
  overflow-wrap: break-word;
}
.newsletter__content {
  letter-spacing: 0.1rem;
  font-family: var(--sub-font-family);
  margin-bottom: 3rem;
  color: #fff;
}
.newsletter__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}
.newsletter__input {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--color-gold);
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
  letter-spacing: 0.1rem;
}
.newsletter__input:hover,
.newsletter__input:focus {
  outline: none;
  border-color: #fff;
}
@media screen and (56rem <= width) {
  .newsletter__form {
    flex-direction: row;
  }
  .newsletter__input {
    flex: 1;
  }
}
